<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title layout:title-pattern="$CONTENT_TITLE - DeepFij">DeepFij</title>
    <link rel="icon" type="image/png" th:href="@{/img/deepfij.png}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body hx-boost="true">

    <header class="site-header" th:replace="~{fragments/nav :: nav}"></header>

    <main layout:fragment="content">
        <p>Page content goes here.</p>
    </main>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

    <script th:src="@{/js/app.js}"></script>
    <th:block layout:fragment="scripts"></th:block>
</body>
</html>
