<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer class="site-footer" th:fragment="footer">
    <span th:text="'DeepFij &mdash; College Basketball Statistics &copy; ' + ${#dates.year(#dates.createNow())}">
        DeepFij &mdash; College Basketball Statistics &copy; 2026
    </span>
    <a th:href="@{/about}" class="site-footer__link">About</a>
    <a th:href="@{/stats}" class="site-footer__link">Stats Glossary</a>
    <a th:href="@{/models/compare}" class="site-footer__link">Compare Models</a>
</footer>

</body>
</html>
